flows.json
[
    {
        "id": "cfe087c2.deeed8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "774c5d9f349893b7",
        "type": "mqtt-broker",
        "name": "shiftr.io – iotandrelademannde",
        "broker": "iotandrelademannde.cloud.shiftr.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e18e49af189f5df6",
        "type": "mqtt-broker",
        "name": "shiftr-io - HalloWeen",
        "broker": "halloweenpipe.cloud.shiftr.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5ca06bf4c49c29d3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6d5e282d2a7fb68a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "beca1548a80f59ae",
        "type": "ui_group",
        "name": "Atmo",
        "tab": "5ca06bf4c49c29d3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79a4ebc4.3a83b4",
        "type": "inject",
        "z": "cfe087c2.deeed8",
        "name": "Gewitter",
        "props": [
            {
                "p": "filename",
                "v": "/Users/andre.lademann/Development/vergissberlin/halloween-pipe/assets/sounds/atmo-03-gewitter.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "736290796fb8fd24"
            ]
        ]
    },
    {
        "id": "fbaa4800.af2a78",
        "type": "debug",
        "z": "cfe087c2.deeed8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "f0ba796565d52399",
        "type": "inject",
        "z": "cfe087c2.deeed8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "711b4a34344c2c04"
            ]
        ]
    },
    {
        "id": "711b4a34344c2c04",
        "type": "wled2",
        "z": "cfe087c2.deeed8",
        "address": "192.168.179.14",
        "brightness": "178",
        "delay": 0,
        "color1": "#0005ff",
        "color2": "#00ff00",
        "color3": "#ffffff",
        "effect": "0",
        "effectIntensity": 128,
        "effectSpeed": 128,
        "name": "Pipe",
        "palette": "0",
        "preset": 0,
        "state": "toggle",
        "x": 430,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "030b1d936d624a56",
        "type": "mqtt in",
        "z": "cfe087c2.deeed8",
        "name": "button",
        "topic": "stat/button/POWER",
        "qos": "2",
        "datatype": "utf8",
        "broker": "e18e49af189f5df6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "dd0806a105f74f0c",
                "711b4a34344c2c04"
            ]
        ]
    },
    {
        "id": "dd0806a105f74f0c",
        "type": "debug",
        "z": "cfe087c2.deeed8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 340,
        "wires": []
    },
    {
        "id": "736290796fb8fd24",
        "type": "file in",
        "z": "cfe087c2.deeed8",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "binary",
        "allProps": false,
        "x": 330,
        "y": 440,
        "wires": [
            [
                "e5f8a7f8f5d85b65"
            ]
        ]
    },
    {
        "id": "e5f8a7f8f5d85b65",
        "type": "ui_audio",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "beca1548a80f59ae",
        "voice": "Anna",
        "always": "",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "176fee6cae5a0266",
        "type": "inject",
        "z": "cfe087c2.deeed8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Ich glaub ich spinne, das funktioniert.",
        "payloadType": "str",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "e5f8a7f8f5d85b65"
            ]
        ]
    }
]