flows.json
[
    {
        "id": "cfe087c2.deeed8",
        "type": "tab",
        "label": "Atmo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6256bac4cdd77435",
        "type": "tab",
        "label": "Knopdruck",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e5ddd0e32b32d19",
        "type": "tab",
        "label": "Rutschen",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3a0316483eb031e",
        "type": "tab",
        "label": "Sprache",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "774c5d9f349893b7",
        "type": "mqtt-broker",
        "name": "shiftr.io – iotandrelademannde",
        "broker": "iotandrelademannde.cloud.shiftr.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e18e49af189f5df6",
        "type": "mqtt-broker",
        "name": "shiftr-io - HalloWeen",
        "broker": "halloweenpipe.cloud.shiftr.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5ca06bf4c49c29d3",
        "type": "ui_tab",
        "name": "Ereignisse",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6d5e282d2a7fb68a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#ff7b00",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#ff7b00",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#ff7b00",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ffa34d",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#ff7b00",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Century Gothic,CenturyGothic,AppleGothic,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "beca1548a80f59ae",
        "type": "ui_group",
        "name": "Anlocken - Gewitter",
        "tab": "c90e79125c88df52",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "554f6b1060917fc9",
        "type": "ui_group",
        "name": "Knopfdruck",
        "tab": "5ca06bf4c49c29d3",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "366e43d93b1f81f0",
        "type": "ui_group",
        "name": "Rutschen",
        "tab": "5ca06bf4c49c29d3",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16a4ce47298ce30e",
        "type": "ui_group",
        "name": "Anlocken - Klirrende Höhle",
        "tab": "c90e79125c88df52",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c90e79125c88df52",
        "type": "ui_tab",
        "name": "Anlocken",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1454de1933d597e6",
        "type": "mqtt-broker",
        "name": "mqtt.andrelademann.de",
        "broker": "mqtt.andrelademann.de",
        "port": "1883",
        "clientid": "nodered",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6eafbe0fee95b755",
        "type": "ui_group",
        "name": "Sprache",
        "tab": "c90e79125c88df52",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "736290796fb8fd24",
        "type": "file in",
        "z": "cfe087c2.deeed8",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "binary",
        "allProps": false,
        "x": 640,
        "y": 140,
        "wires": [
            [
                "e5f8a7f8f5d85b65"
            ]
        ]
    },
    {
        "id": "e5f8a7f8f5d85b65",
        "type": "ui_audio",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "beca1548a80f59ae",
        "voice": "Anna",
        "always": true,
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "12a9b448600bc0c5",
        "type": "ui_button",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "beca1548a80f59ae",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Gewitter Atmo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-flash",
        "payload": "atmo-03-gewitter.wav",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "6e3a02d09fe7e6e6",
                "27f0769c7a23cd31"
            ]
        ]
    },
    {
        "id": "6e3a02d09fe7e6e6",
        "type": "function",
        "z": "cfe087c2.deeed8",
        "name": "filename",
        "func": "msg.filename = `/Users/andre.lademann/Development/vergissberlin/halloween-pipe/assets/sounds/${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 140,
        "wires": [
            [
                "736290796fb8fd24"
            ]
        ]
    },
    {
        "id": "27f0769c7a23cd31",
        "type": "wled2",
        "z": "cfe087c2.deeed8",
        "address": "192.168.179.45",
        "brightness": "178",
        "delay": 0,
        "color1": "#0005ff",
        "color2": "#00ff00",
        "color3": "#ffffff",
        "effect": "0",
        "effectIntensity": 128,
        "effectSpeed": 128,
        "name": "Pipe",
        "palette": "0",
        "preset": "2",
        "state": "toggle",
        "x": 410,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e2579192a18880f1",
        "type": "comment",
        "z": "cfe087c2.deeed8",
        "name": "Anlocken 1 - Gewitter",
        "info": "",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "136b36b76580f672",
        "type": "file in",
        "z": "cfe087c2.deeed8",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "binary",
        "allProps": false,
        "x": 640,
        "y": 320,
        "wires": [
            [
                "1555f71c4a588393"
            ]
        ]
    },
    {
        "id": "85c9f98896cc20c1",
        "type": "ui_button",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "beca1548a80f59ae",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Blitz",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-flash",
        "payload": "sound-thunder.mp3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "3bb72b55e05fe373",
                "ad32cb00df494aae",
                "dad648043560d6d4"
            ]
        ]
    },
    {
        "id": "3bb72b55e05fe373",
        "type": "function",
        "z": "cfe087c2.deeed8",
        "name": "filename",
        "func": "msg.filename = `/Users/andre.lademann/Development/vergissberlin/halloween-pipe/assets/sounds/${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "136b36b76580f672"
            ]
        ]
    },
    {
        "id": "ad32cb00df494aae",
        "type": "wled2",
        "z": "cfe087c2.deeed8",
        "address": "192.168.179.45",
        "brightness": "178",
        "delay": 0,
        "color1": "#ffffff",
        "color2": "#ffffff",
        "color3": "#ffffff",
        "effect": "0",
        "effectIntensity": 128,
        "effectSpeed": 128,
        "name": "Pipe",
        "palette": "0",
        "preset": "4",
        "state": "on",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "e17d98d71b9a6a2d"
            ]
        ]
    },
    {
        "id": "045e12dfd8471788",
        "type": "template",
        "z": "cfe087c2.deeed8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Jetzt blitzt das auch noch!",
        "output": "str",
        "x": 640,
        "y": 280,
        "wires": [
            [
                "1555f71c4a588393"
            ]
        ]
    },
    {
        "id": "1555f71c4a588393",
        "type": "ui_audio",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "beca1548a80f59ae",
        "voice": "Anna",
        "always": true,
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "e17d98d71b9a6a2d",
        "type": "delay",
        "z": "cfe087c2.deeed8",
        "name": "",
        "pauseType": "random",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "3",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "f7c7da0526de9dd8"
            ]
        ]
    },
    {
        "id": "b04e1aacd104ae19",
        "type": "link in",
        "z": "cfe087c2.deeed8",
        "name": "gewitter",
        "links": [
            "f7c7da0526de9dd8",
            "82a5d3bc2496ba52"
        ],
        "x": 75,
        "y": 140,
        "wires": [
            [
                "12a9b448600bc0c5"
            ]
        ]
    },
    {
        "id": "f7c7da0526de9dd8",
        "type": "link out",
        "z": "cfe087c2.deeed8",
        "name": "",
        "mode": "link",
        "links": [
            "b04e1aacd104ae19",
            "62091c033db2b0d8"
        ],
        "x": 815,
        "y": 360,
        "wires": []
    },
    {
        "id": "dad648043560d6d4",
        "type": "delay",
        "z": "cfe087c2.deeed8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "3",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 280,
        "wires": [
            [
                "045e12dfd8471788"
            ]
        ]
    },
    {
        "id": "b6288b32423a2177",
        "type": "ui_audio",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "beca1548a80f59ae",
        "voice": "Anna",
        "always": true,
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "5c5b7716b345b916",
        "type": "ui_button",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "beca1548a80f59ae",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Hauchen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-volume-up",
        "payload": "anlocken-02-geisterhauchen.wav",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "24047ef38125bc21"
            ]
        ]
    },
    {
        "id": "74834306b1babad3",
        "type": "file in",
        "z": "cfe087c2.deeed8",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "binary",
        "allProps": false,
        "x": 640,
        "y": 440,
        "wires": [
            [
                "b6288b32423a2177"
            ]
        ]
    },
    {
        "id": "24047ef38125bc21",
        "type": "function",
        "z": "cfe087c2.deeed8",
        "name": "filename",
        "func": "msg.filename = `/Users/andre.lademann/Development/vergissberlin/halloween-pipe/assets/sounds/${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "74834306b1babad3"
            ]
        ]
    },
    {
        "id": "c8f28a0c2d25a39d",
        "type": "ui_button",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "beca1548a80f59ae",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "STOPP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-stop",
        "payload": "anlocken-02-geisterhauchen.wav",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "bd5aa10575eba52e"
            ]
        ]
    },
    {
        "id": "bd5aa10575eba52e",
        "type": "function",
        "z": "cfe087c2.deeed8",
        "name": "",
        "func": "msg.reset = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 500,
        "wires": [
            [
                "841fcf70d748b971"
            ]
        ]
    },
    {
        "id": "841fcf70d748b971",
        "type": "ui_audio",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "beca1548a80f59ae",
        "voice": "Anna",
        "always": true,
        "x": 860,
        "y": 500,
        "wires": []
    },
    {
        "id": "335b33761018c33f",
        "type": "file in",
        "z": "cfe087c2.deeed8",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "binary",
        "allProps": false,
        "x": 640,
        "y": 720,
        "wires": [
            [
                "8cd3eb9a2a19dd36"
            ]
        ]
    },
    {
        "id": "8cd3eb9a2a19dd36",
        "type": "ui_audio",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "beca1548a80f59ae",
        "voice": "Anna",
        "always": true,
        "x": 860,
        "y": 720,
        "wires": []
    },
    {
        "id": "d9086597b5a840a5",
        "type": "ui_button",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "16a4ce47298ce30e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Atmo - Klirrende",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-bell",
        "payload": "atmo-04-Klirrende_Hoehle.wav",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 720,
        "wires": [
            [
                "0d7bde8a4dc8d1fb",
                "6e848ce72b915b19"
            ]
        ]
    },
    {
        "id": "0d7bde8a4dc8d1fb",
        "type": "function",
        "z": "cfe087c2.deeed8",
        "name": "filename",
        "func": "msg.filename = `/Users/andre.lademann/Development/vergissberlin/halloween-pipe/assets/sounds/${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 720,
        "wires": [
            [
                "335b33761018c33f"
            ]
        ]
    },
    {
        "id": "6e848ce72b915b19",
        "type": "wled2",
        "z": "cfe087c2.deeed8",
        "address": "192.168.179.45",
        "brightness": "178",
        "delay": 0,
        "color1": "#0005ff",
        "color2": "#00ff00",
        "color3": "#ffffff",
        "effect": "0",
        "effectIntensity": 128,
        "effectSpeed": 128,
        "name": "Pipe",
        "palette": "0",
        "preset": "2",
        "state": "toggle",
        "x": 410,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "d25bfd6e82b740f9",
        "type": "comment",
        "z": "cfe087c2.deeed8",
        "name": "Anlocken 2 - Klirrende Höhle",
        "info": "",
        "x": 180,
        "y": 660,
        "wires": []
    },
    {
        "id": "9cbc03867826f2fc",
        "type": "file in",
        "z": "cfe087c2.deeed8",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "binary",
        "allProps": false,
        "x": 640,
        "y": 820,
        "wires": [
            [
                "548e759a6e2783ce"
            ]
        ]
    },
    {
        "id": "548e759a6e2783ce",
        "type": "ui_audio",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "beca1548a80f59ae",
        "voice": "Anna",
        "always": true,
        "x": 860,
        "y": 820,
        "wires": []
    },
    {
        "id": "eb1897728293b214",
        "type": "ui_button",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "16a4ce47298ce30e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Atmo - Tropfen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-tint",
        "payload": "atmo-06-tropfsteinhoehle.wav",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 820,
        "wires": [
            [
                "bf8db562461e809e",
                "a408692f567b3f6e"
            ]
        ]
    },
    {
        "id": "bf8db562461e809e",
        "type": "function",
        "z": "cfe087c2.deeed8",
        "name": "filename",
        "func": "msg.filename = `/Users/andre.lademann/Development/vergissberlin/halloween-pipe/assets/sounds/${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 820,
        "wires": [
            [
                "9cbc03867826f2fc"
            ]
        ]
    },
    {
        "id": "a408692f567b3f6e",
        "type": "wled2",
        "z": "cfe087c2.deeed8",
        "address": "192.168.179.45",
        "brightness": "178",
        "delay": 0,
        "color1": "#0005ff",
        "color2": "#00ff00",
        "color3": "#ffffff",
        "effect": "0",
        "effectIntensity": 128,
        "effectSpeed": 128,
        "name": "Pipe",
        "palette": "0",
        "preset": "2",
        "state": "toggle",
        "x": 410,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "a5858f5daf6d1ce3",
        "type": "ui_audio",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "beca1548a80f59ae",
        "voice": "Anna",
        "always": true,
        "x": 860,
        "y": 920,
        "wires": []
    },
    {
        "id": "ba9d5880c959ec94",
        "type": "ui_button",
        "z": "cfe087c2.deeed8",
        "name": "",
        "group": "16a4ce47298ce30e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Megaschrei",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-volume-up",
        "payload": "person-01-megaschrei.mp3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 920,
        "wires": [
            [
                "f07ff1370d21115f"
            ]
        ]
    },
    {
        "id": "95ab3bdf0b70e1b7",
        "type": "file in",
        "z": "cfe087c2.deeed8",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "binary",
        "allProps": false,
        "x": 640,
        "y": 920,
        "wires": [
            [
                "a5858f5daf6d1ce3"
            ]
        ]
    },
    {
        "id": "f07ff1370d21115f",
        "type": "function",
        "z": "cfe087c2.deeed8",
        "name": "filename",
        "func": "msg.filename = `/Users/andre.lademann/Development/vergissberlin/halloween-pipe/assets/sounds/${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 920,
        "wires": [
            [
                "95ab3bdf0b70e1b7"
            ]
        ]
    },
    {
        "id": "bc131af09f05511d",
        "type": "wled2",
        "z": "6256bac4cdd77435",
        "address": "192.168.179.45",
        "brightness": "178",
        "delay": 0,
        "color1": "#ffffff",
        "color2": "#ffffff",
        "color3": "#ffffff",
        "effect": "0",
        "effectIntensity": 128,
        "effectSpeed": 128,
        "name": "Pipe",
        "palette": "0",
        "preset": "5",
        "state": "toggle",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "ec72feca8f2f0323"
            ]
        ]
    },
    {
        "id": "57e65b5d4038433c",
        "type": "mqtt in",
        "z": "6256bac4cdd77435",
        "name": "button",
        "topic": "halloween/stat/button_ED72E1/POWER",
        "qos": "2",
        "datatype": "utf8",
        "broker": "1454de1933d597e6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "bc131af09f05511d",
                "ee6810a6b59be184",
                "421c8d4c620f47b6",
                "1d5720464f0c8bbc"
            ]
        ]
    },
    {
        "id": "a0c2e0729d82b6c0",
        "type": "ui_audio",
        "z": "6256bac4cdd77435",
        "name": "",
        "group": "beca1548a80f59ae",
        "voice": "Anna",
        "always": true,
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "ee6810a6b59be184",
        "type": "template",
        "z": "6256bac4cdd77435",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Du hast den Knopf gedrückt",
        "output": "str",
        "x": 500,
        "y": 220,
        "wires": [
            [
                "a0c2e0729d82b6c0"
            ]
        ]
    },
    {
        "id": "e8de312ca3490da8",
        "type": "comment",
        "z": "6256bac4cdd77435",
        "name": "Button",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "2a191f0815548f03",
        "type": "file in",
        "z": "6256bac4cdd77435",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "binary",
        "allProps": false,
        "x": 500,
        "y": 280,
        "wires": [
            [
                "ea8259568ce47695"
            ]
        ]
    },
    {
        "id": "ea8259568ce47695",
        "type": "ui_audio",
        "z": "6256bac4cdd77435",
        "name": "",
        "group": "beca1548a80f59ae",
        "voice": "Anna",
        "always": true,
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "421c8d4c620f47b6",
        "type": "function",
        "z": "6256bac4cdd77435",
        "name": "filename",
        "func": "let sounds = [\n    'knopf-01.wav',\n    'knopf-02.wav',\n    ];\n\nmsg.filename = `/Users/andre.lademann/Development/vergissberlin/halloween-pipe/assets/sounds/${sounds[Math.floor(Math.random())*sounds.length]}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 280,
        "wires": [
            [
                "2a191f0815548f03"
            ]
        ]
    },
    {
        "id": "ec72feca8f2f0323",
        "type": "delay",
        "z": "6256bac4cdd77435",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "3",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "697d7fd065d155e8"
            ]
        ]
    },
    {
        "id": "697d7fd065d155e8",
        "type": "wled2",
        "z": "6256bac4cdd77435",
        "address": "192.168.179.45",
        "brightness": "178",
        "delay": 0,
        "color1": "#ffffff",
        "color2": "#ffffff",
        "color3": "#ffffff",
        "effect": "0",
        "effectIntensity": 128,
        "effectSpeed": 128,
        "name": "Pipe",
        "palette": "0",
        "preset": "6",
        "state": "toggle",
        "x": 910,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1d5720464f0c8bbc",
        "type": "debug",
        "z": "6256bac4cdd77435",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 340,
        "wires": []
    },
    {
        "id": "70f6ef42c11d751b",
        "type": "comment",
        "z": "1e5ddd0e32b32d19",
        "name": "Rutschen",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "529384306067c143",
        "type": "file in",
        "z": "1e5ddd0e32b32d19",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "binary",
        "allProps": false,
        "x": 600,
        "y": 140,
        "wires": [
            [
                "a3e1a0a46fd44dc0"
            ]
        ]
    },
    {
        "id": "ee576789ac0408dd",
        "type": "ui_button",
        "z": "1e5ddd0e32b32d19",
        "name": "",
        "group": "366e43d93b1f81f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Rutsch",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-button",
        "payload": "sound-thunder.mp3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "b7c90b6111803c53",
                "4418b80e78c72581",
                "867c6fa0089af00a"
            ]
        ]
    },
    {
        "id": "b7c90b6111803c53",
        "type": "function",
        "z": "1e5ddd0e32b32d19",
        "name": "filename",
        "func": "msg.filename = `/Users/andre.lademann/Development/vergissberlin/halloween-pipe/assets/sounds/${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "529384306067c143"
            ]
        ]
    },
    {
        "id": "4418b80e78c72581",
        "type": "wled2",
        "z": "1e5ddd0e32b32d19",
        "address": "192.168.179.45",
        "brightness": "178",
        "delay": 0,
        "color1": "#ffffff",
        "color2": "#ffffff",
        "color3": "#ffffff",
        "effect": "0",
        "effectIntensity": 128,
        "effectSpeed": 128,
        "name": "Pipe",
        "palette": "0",
        "preset": "4",
        "state": "on",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "ec5d20d2af5bd293"
            ]
        ]
    },
    {
        "id": "867c6fa0089af00a",
        "type": "template",
        "z": "1e5ddd0e32b32d19",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Jetzt blitzt das auch noch!",
        "output": "str",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "a3e1a0a46fd44dc0"
            ]
        ]
    },
    {
        "id": "a3e1a0a46fd44dc0",
        "type": "ui_audio",
        "z": "1e5ddd0e32b32d19",
        "name": "",
        "group": "beca1548a80f59ae",
        "voice": "Anna",
        "always": true,
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "ec5d20d2af5bd293",
        "type": "delay",
        "z": "1e5ddd0e32b32d19",
        "name": "",
        "pauseType": "random",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "3",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a716d36a3db341e5",
        "type": "file in",
        "z": "1e5ddd0e32b32d19",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "binary",
        "allProps": false,
        "x": 600,
        "y": 300,
        "wires": [
            [
                "3890b17b7632a699"
            ]
        ]
    },
    {
        "id": "1285a0a413173db9",
        "type": "ui_button",
        "z": "1e5ddd0e32b32d19",
        "name": "",
        "group": "366e43d93b1f81f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Lachen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-button",
        "payload": "sound-thunder.mp3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "3896b4a57b150a56",
                "2989e32670892e84",
                "4d626c0d97759281"
            ]
        ]
    },
    {
        "id": "3896b4a57b150a56",
        "type": "function",
        "z": "1e5ddd0e32b32d19",
        "name": "filename",
        "func": "msg.filename = `/Users/andre.lademann/Development/vergissberlin/halloween-pipe/assets/sounds/${msg.payload}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            [
                "a716d36a3db341e5"
            ]
        ]
    },
    {
        "id": "2989e32670892e84",
        "type": "wled2",
        "z": "1e5ddd0e32b32d19",
        "address": "192.168.179.45",
        "brightness": "178",
        "delay": 0,
        "color1": "#ffffff",
        "color2": "#ffffff",
        "color3": "#ffffff",
        "effect": "0",
        "effectIntensity": 128,
        "effectSpeed": 128,
        "name": "Pipe",
        "palette": "0",
        "preset": "4",
        "state": "on",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "bfe6add0d67254fe"
            ]
        ]
    },
    {
        "id": "4d626c0d97759281",
        "type": "template",
        "z": "1e5ddd0e32b32d19",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Jetzt blitzt das auch noch!",
        "output": "str",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "3890b17b7632a699"
            ]
        ]
    },
    {
        "id": "3890b17b7632a699",
        "type": "ui_audio",
        "z": "1e5ddd0e32b32d19",
        "name": "",
        "group": "beca1548a80f59ae",
        "voice": "Anna",
        "always": true,
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "bfe6add0d67254fe",
        "type": "delay",
        "z": "1e5ddd0e32b32d19",
        "name": "",
        "pauseType": "random",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "3",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "26acf73edc9b6a8b",
        "type": "ui_audio",
        "z": "f3a0316483eb031e",
        "name": "",
        "group": "beca1548a80f59ae",
        "voice": "Anna",
        "always": true,
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "5b0e0b3bd31f1c02",
        "type": "ui_button",
        "z": "f3a0316483eb031e",
        "name": "",
        "group": "6eafbe0fee95b755",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Oh Gewitter …",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-comment-o",
        "payload": "atmo-03-gewitter.wav",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "2eeeab34cd9285a4"
            ]
        ]
    },
    {
        "id": "2eeeab34cd9285a4",
        "type": "template",
        "z": "f3a0316483eb031e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Oh, ein Gewitter. Mir gruselt es.",
        "output": "str",
        "x": 380,
        "y": 80,
        "wires": [
            [
                "26acf73edc9b6a8b"
            ]
        ]
    },
    {
        "id": "38a47b1e9e0611d6",
        "type": "ui_audio",
        "z": "f3a0316483eb031e",
        "name": "",
        "group": "beca1548a80f59ae",
        "voice": "Anna",
        "always": true,
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "d1d47f90d999c682",
        "type": "ui_button",
        "z": "f3a0316483eb031e",
        "name": "",
        "group": "6eafbe0fee95b755",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Du traust Dich nicht …",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-comment-o",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "8fc137972390c6d0"
            ]
        ]
    },
    {
        "id": "8fc137972390c6d0",
        "type": "template",
        "z": "f3a0316483eb031e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Du traust Dich nicht den Knopf zu drücken.",
        "output": "str",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "38a47b1e9e0611d6"
            ]
        ]
    }
]