flows.json
[
    {
        "id": "cfe087c2.deeed8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "79a4ebc4.3a83b4",
        "type": "inject",
        "z": "cfe087c2.deeed8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "fbaa4800.af2a78"
            ]
        ]
    },
    {
        "id": "fbaa4800.af2a78",
        "type": "debug",
        "z": "cfe087c2.deeed8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "f0ba796565d52399",
        "type": "inject",
        "z": "cfe087c2.deeed8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "711b4a34344c2c04"
            ]
        ]
    },
    {
        "id": "711b4a34344c2c04",
        "type": "wled2",
        "z": "cfe087c2.deeed8",
        "address": "192.168.179.14",
        "brightness": "39",
        "delay": 0,
        "color1": "#0005ff",
        "color2": "#00ff00",
        "color3": "#ffffff",
        "effect": "27",
        "effectIntensity": 128,
        "effectSpeed": 128,
        "name": "",
        "palette": "0",
        "preset": 0,
        "state": "toggle",
        "x": 320,
        "y": 220,
        "wires": [
            []
        ]
    }
]